body{
    background-image: linear-gradient (#D4D2D2, white);
    background-repeat: no-repeat;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    background-color: #ffc5fc;
    height: 100px;
}

.footer{
    height: 80px;
    background-color: rgb(137, 247, 253);
    clear: both;
}

.left{
    height: 450px;
    float: left;
    background-color: rgb(251, 248, 169);
    width: 20%;
}

.main{
    height: 450px;
    float: left;
    background-color: #e0c5ff;
    width: 60%;
}

.right{
    height: 450px;
    float: right;
    background-color: #ffbdc9;
    width: 20%;
}

.left div {
    font-size: 20px;
    font-family: "Poppins",sans-serif;
    margin: 5px;
    color: #ff4747df; 
    cursor: pointer;
    padding: 10px;
}

.left div:hover{
    background-color: #ff8000a7;
    padding: 10px;
}
